<% set_page_title "Sign In" %>

<div class="sign-in">
	<div class="sign-in_mask"></div>
  <div class="sign-in_content">
  	<div class="sign-in_logo">Grace<span class="sign-in_logo-emphasized">Tunes</span></div>
	  <%= link_to "/auth/google_oauth2", method: :post, class: "sign-in_button", id: "sign_in" do %>
      <i class="fa fa-google"></i>Sign in with Gpmail
    <% end %>
  </div>
</div>
