
<%= stylesheet_link_tag 'songs_manifest' %>

<div class="index-page">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <h1>Songs</h1>
        <input type="search" id="songs-search-field" class="form-control" placeholder="Search lyrics, song titles, and artists"/>
        <table class="filter-selection" border="0">
          <tbody>
            <tr>
              <td>Filter Key:</td>
              <td><%= select_tag 'key', options_for_select(['Any key'] + Song::VALID_KEYS, :selected => 'Any key') %></td>
              <td>Filter Tempo:</td>
              <td><%= select_tag 'tempo', options_for_select(['Any tempo'] + Song::VALID_TEMPOS, :selected => 'Any tempo') %></td>
            </tr>
          </tbody>
        </table>
        
        <table class="songs-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Tempo</th>
              <th>Key</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var table = $('.songs-table').DataTable({
      sAjaxSource: '<%= songs_path(format: :json) %>',
      serverSide: true,
      responsive: true,
      lengthChange: false,
      dom: '',
      columns: [
        { data: 'name' },
        { data: 'artist' },
        { data: 'tempo' },
        { data: 'key' },
      ],
    });

    $('#songs-search-field').keyup(function() {
      table.search(this.value).draw();
    });

    $('#key').on('change', function() {
      table.columns(3).search(this.value).draw();
    });

    $('#tempo').on('change', function() {
      table.columns(2).search(this.value).draw();
    });

    $('.search-page').addClass('active');
  });
</script>
