<h1>Songs</h1>
<table class="songs-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Tempo</th>
      <th>Key</th>
    </tr>
  </thead>
</table>


<script>
  $(function() {
    $('.songs-table').DataTable({
      sAjaxSource: '<%= songs_path(format: :json) %>',
      serverSide: true,
      processing: true,
      responsive: true,
      columns: [
        { data: 'name' },
        { data: 'artist' },
        { data: 'tempo' },
        { data: 'key' },
      ],
    });
  });
</script>
