<div class="index-page">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <h1>Songs</h1>

        <div class="search">
          <div class="search_input_container">
            <input type="search" id="songs-search-field" class="form-control search_input" placeholder="Search lyrics, song titles, and artists"/>
            <i class="fa fa-search"></i>
          </div>
          <table class="search_filter filter-selection" border="0">
            <tbody>
              <tr>
                <td>Key</td>
                <td><%= select_tag :key, get_key_opts('Any', include_any = true), class: 'form-control' %></td>
                <td></td>
                <td>Tempo</td>
                <td><%= select_tag :tempo, get_tempo_opts('Any', include_any = true), class: 'form-control' %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="tbl tbl-bottom-spacing songs-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Key</th>
              <th>Tempo</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="preview-drawer">
    <div class="close-button">x</div>
    <div class="title">
      <h1 target="_blank" class="name"></h1>
    </div>
    <a class="pill pill-small pill_link-dark-blue page-link"><i class="fa fa-eye"></i> View Full Page</a>
    <div class="artist"></div>
    <div class="meta-info">
      <div>Key: <span class="key"></span>&nbsp;&nbsp;|&nbsp;&nbsp;Tempo: <span class="tempo"></span></div>
    </div>
    <div class="chord-sheet fixed-width"></div>
  </div>
</div>

<%= javascript_include_tag 'songs/index' %>