
<%= stylesheet_link_tag 'songs_manifest' %>

<div class="index-page">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <h1>Songs</h1>
        <input type="search" id="songs-search-field" class="form-control" placeholder="Search lyrics, song titles, and artists"/>
        <table class="filter-selection" border="0">
          <tbody>
            <tr>
              <td>Key:</td>
              <td><%= select_tag :key, options_for_select(@key_opts, selected: 'Any') %></td>
              <td>Tempo:</td>
              <td><%= select_tag :tempo, options_for_select(@tempo_opts, selected: 'Any') %></td>
            </tr>
          </tbody>
        </table>
        
        <table class="songs-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Tempo</th>
              <th>Key</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var table = $('.songs-table').DataTable({
      serverSide: true,
      responsive: true,
      lengthChange: false,
      dom: '',
      columns: [
        { data: 'name' },
        { data: 'artist' },
        { data: 'tempo' },
        { data: 'key' },
      ],
      ajax: {
        sAjaxSource: '<%= songs_path(format: :json) %>',
        data: function(d) {
          d.tempo = $('#tempo').val();
          d.key = $('#key').val();

          return d;
        }
      }
    });

    $('#songs-search-field').keyup(function() {
      table.search(this.value).draw();
    });

    $('.filter-selection').change(function() {
      table.ajax.reload();
    });

    $('.search-page').addClass('active');
  });
</script>
