
<%= stylesheet_link_tag 'songs_manifest' %>

<div class="index-page">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <h1>Songs</h1>
        <input type="search" id="songs-search-field" class="form-control" placeholder="Search lyrics, song titles, and artists"/>
        <table class="filter-selection" border="0">
          <tbody>
            <tr>
              <td>Key:</td>
              <td><%= select_tag :key, options_for_select(@key_opts, selected: 'Any') %></td>
              <td>Tempo:</td>
              <td><%= select_tag :tempo, options_for_select(@tempo_opts, selected: 'Any') %></td>
            </tr>
          </tbody>
        </table>

        <table class="songs-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Tempo</th>
              <th>Key</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="preview-drawer">
    <h1 class="name"></h1>
    <div class="song-sheet"></div>
  </div>
</div>

<script>
  $(function() {
    var table = $('.songs-table').DataTable({
      serverSide: true,
      responsive: true,
      lengthChange: false,
      dom: '',
      columns: [
        { data: 'name' },
        { data: 'artist' },
        { data: 'tempo' },
        { data: 'key' },
      ],
      createdRow: function(row, data, index) {
        $(row).data('song-id', data.id);
      },
      ajax: {
        sAjaxSource: '<%= songs_path(format: :json) %>',
        data: function(d) {
          d.tempo = $('#tempo').val();
          d.key = $('#key').val();

          return d;
        }
      }
    });

    $('#songs-search-field').keyup(function() {
      table.search(this.value).draw();
    });

    $('.filter-selection').change(function() {
      table.ajax.reload();
    });

    $('.search-page').addClass('active');

    $('.songs-table').on('click', 'tbody tr', function() {
      var url = '/songs/' + $(this).data('song-id') + '.json';
      $('.songs-table .selected').removeClass('selected');
      $(this).addClass('selected');

      $.get(url, function (data) {
        var song = data.song;
        var songSheet = song.song_sheet;

        if ($('#songs-search-field').val() !== '') {
          // highlight the keywords they searched for in the song sheet
          var keywords = $('#songs-search-field').val();
          $.each(keywords.split(' '), function(i, keyword) {
            var highlightedKeyword = '<span class="highlight">' + keyword + '</span>';
            songSheet = songSheet.replace(new RegExp(keyword, 'ig'), highlightedKeyword);
          });
        }

        $('.preview-drawer').find('.name').text(song.name);
        $('.preview-drawer').find('.song-sheet').html(songSheet);
      });
    });
  });
</script>
