<% page_title = @song.name + " Edit History" %>

<% set_page_title page_title %>

<div class="container">
  <h1 class="page-header">
    <%= page_title %>
  </h1>

  <% @update_audits.reverse.each do |audit| %>
    <%= render partial: "audit", locals: { audit: audit, song_name: @song.name, is_deleted: false } %>
    <hr/>
  <% end %>
</div>