body {
  font-family: $Raleway;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  padding-bottom: $default-padding * 2;
}

h1 {
  margin-bottom: $default-margin;
}

html {
  font-size: $default-font-size;
}