.form {
  max-width: 600px;

  .form-2 {
    display: inline-block;
    width: 100%;

    .form-group {
      float: left;
      width: calc(50% - #{$default-padding} / 4);

      &:first-child {
        margin-right: $default-padding / 2;
      }

      .form-control {
        width: 100%;
      }
    }
  }

  .form-inline {
    margin-bottom: $default-padding / 2;
  }

  textarea {
    height: 300px;
    font-size: 19px;
    resize: vertical;
  }
}