.pagination {
	margin: 0;
	color: $blue;

	.paginate_button, li {
		background: none;
		padding: 0 !important;

		&:hover {
			background: $white !important;
			border-color: transparent !important;
		}

		a {
			color: $black;

			&:hover {
				background: darken($white, 3%);
				color: $black;
			}
		}

		&.active {

			a, span {
				background-color: $blue;
				border-color: $blue;
				color: $white;
				transition: all .25s;
				z-index: 0;

				&:hover {
					background-color: lighten($blue, 9%);
					border-color: lighten($blue, 9%);
				}

		    &:active {
		      background-color: darken($blue, 7%);
		    }
			}

			&:hover {
				background: transparent;
				border-color: transparent;
			}
		}
	}
}