.search {
  display: inline-block;
  margin-bottom: $default-padding / 2;
  width: 100%;

  .search_input_container {
    float: left;
    position: relative;
    width: 30%;

    .search_input {
      padding-left: $default-padding;
    }

    .fa-search {
      color: $gray;
      position: absolute;
      left: $default-margin / 2;
      top: calc(50% - 6.5px);
    }
  }

  .search_filter {
    float: right;

    td {
      padding-left: $default-margin / 4;
    }
  }
}