.search {
  display: inline-block;
  margin-bottom: $default-padding / 2;
  width: 100%;

  .search_input_container {
    float: left;
    position: relative;
    width: 30%;

    .search_input {
      padding-left: $default-padding;
    }

    .fa-search {
      color: $gray;
      position: absolute;
      left: $default-margin / 2;
      top: calc(50% - 6.5px);
    }
  }

  .search_filters {
    float: right;

    .search_filter {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    .search_filter__label {
      flex-shrink: 0;
      margin-left: $default-margin / 1.5;
    }

    .search_filter__form-control {
      margin-left: $default-margin / 3;
    }
  }
}
