$black: #000000;
$blue: #70BACF;
$light-blue: lighten($blue, 30%);
$dark-blue: #39576B;
$orange: #FCB97D;
$red: #E88E8D;
$green: #ABE188;
$dark-gray: #777;
$gray: #BBB;
$light-gray: #DDD;
$lighter-gray: #EEE;
$white: #FFF;

$background-color: $white;
$border-color: $light-gray;
$link-color: #AAA;
