// Spacing

$default-padding: 25px;
$default-margin: 20px;

// Typography

$default-font-size: 13px;
$default-font-weight: 300;
$default-font-weight-bold: 500;

$default-font-size-small: $default-font-size - 2;
$default-font-size-medium: $default-font-size + 2;
$default-font-size-large: $default-font-size + 5;
$default-font-size-xlarge: $default-font-size + 11;
$default-font-size-giant: $default-font-size + 23;

// Base Borders & Box Shadows

$default-border-radius: 3px;
$default-box-shadow: 0 1px 2px rgba(0,0,0,.2);