// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.index-page {

  @keyframes slide-in
  {
    0%   { width: 10vw }
    100% { width: 50vw }
  }

  .preview-drawer {
    animation: 0.3s slide-in;
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    padding: 20px;
    padding-bottom: 70px;
    background-color: white;
    height: 100%;
    width:  50vw;
    max-width:  500px;
    border-left: 1px solid whitesmoke;
    box-shadow: 1px 1px 20px gray;
    overflow-y: scroll;
  }

  .preview-drawer .name {
    display: inline-block;
    max-width: 65%;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 32px;
  }

  .preview-drawer .artist {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .preview-drawer .song-sheet {
    font-style: italic;
    white-space: pre;
  }

  .preview-drawer .highlight {
    background-color: yellow;
  }

  .preview-drawer .close-button
  {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
  }

  .preview-drawer .meta-info {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .preview-drawer .meta-info .key {
    margin-right: 10px;
  }

  .preview-drawer .meta-info {
    display: inline-block;
  }

  .songs-table tbody tr {
    transition: background-color 0.2s ease;
  }

}

.show-page {
  padding: 10px;
  width: 70%;
  margin: auto;
  border: 1px solid $border-color;
  text-align: center;

  .song-metadata {
    background-color: $light-gray;
    width: 500px;
    margin: auto;
  }

  .chord-sheet {
    text-align: left;
    font-size: 16px;
    white-space: pre-wrap;
    border: 1px solid $border-color;
    padding: 10px;
    width: 500px;
    margin: auto;
  }
}

.fixed-width {
  font-family: Inconsolata;
}
