// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.index-page {
  @keyframes slide-in {
    0% {
      width: 10vw;
    }
    100% {
      width: 50vw;
    }
  }

  .preview-drawer {
    animation: 0.3s slide-in;
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    padding: ($default-padding * 1.5) ($default-padding * 2);
    padding-bottom: 70px;
    background-color: white;
    height: calc(100vh - 70px);
    width: 40vw;
    max-width: 40vw;
    border-left: 1px solid whitesmoke;
    box-shadow: 0px 10px 40px -10px grey;
    overflow-y: scroll;

    .title {
      align-items: center;
      display: flex;
      margin-bottom: $default-margin / 2;

      .name {
        margin: 0;
      }
    }

    .page-link {
      margin-bottom: $default-margin / 2;
    }

    .artist {
      font-size: 12px;
      letter-spacing: 1px;
      margin-bottom: $default-margin / 3;
      text-transform: uppercase;
    }

    .chord-sheet {
      font-style: italic;
      white-space: pre;
      padding-bottom: $default-padding * 2;
    }

    [data-markjs="true"] {
      background-color: $blue;
    }

    .close-button {
      color: $light-gray;
      cursor: pointer;
      font-size: 40px;
      position: absolute;
      right: $default-margin;
      top: 0px;
      transform: scaleY(0.9);
      transition: all 0.25s;

      &:hover {
        color: darken($light-gray, 10%);
      }
    }

    .meta-info {
      font-size: 12px;
      letter-spacing: 1px;
      margin-bottom: $default-margin;
      text-transform: uppercase;

      .key {
        text-transform: initial;
      }
    }
  }

  .songs-table tbody tr {
    transition: background-color 0.2s ease;
  }
}

.show-page {
  padding: 10px;
  width: 70%;
  margin: auto;
  text-align: center;

  .title {
    margin-bottom: $default-margin / 3;
  }

  .artist {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: $default-margin;
    text-transform: uppercase;
  }

  .transpose {
    display: inline-block;
    margin-left: $default-margin / 6;
    width: initial;
  }

  .buttons-container {
    margin-bottom: $default-margin;

    .button-spacing {
      margin-right: $default-margin / 4;
    }
  }

  .song-metadata {
    width: 500px;
    margin: auto;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: $default-margin / 2;

    .key {
      text-transform: initial;
    }
  }

  .chord-sheet {
    text-align: left;
    font-size: 16px;
    white-space: pre-wrap;
    padding: 10px;
    width: 500px;
    margin: auto;
  }
}

.fixed-width {
  font-family: $Inconsolata;
}

.spotify-widget {
  width: 350px;
  height: 80px;
  margin: 0 0 $default-margin;
  border: none;
}
