@import "bootstrap";

.navbar-brand {
    position: relative;
    z-index: 2;
    left: -250px;
}

.navbar-nav.navbar-right .btn{
    position: relative; 
    z-index: 2;
    padding: 4px 20px; 
    margin: 10px auto; 
    transition: transform 0.3s;
}

.navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 100px;
    padding-left: 120px;
    width: 100%;
    transition: all .5s ease;
}

.navbar.navbar-default {
    background-color: #f8f8f8;
}
