// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-top: 40px;
}
.index-page {
  input[type=search] {
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  thead tr[role="row"] {
    background-color: #3d8af7;
  }

  .songs-table {
    border: 1px solid #ccc;
  }

  .songs-table tbody tr {
    cursor: pointer;
  }

  .songs-table tbody tr.selected {
    background-color: #ccc;
  }

  .songs-table tbody tr:not(.selected):hover {
    background-color: whitesmoke;
  }

  table.filter-selection td {
    padding-right: 10px;
    padding-bottom: 15px;
  }

  table.songs-table thead th, table.songs-table {
    border-bottom: 1px solid #ccc;
  }

  @keyframes slide-in
  {
    0%   { width: 10vw }
    100% { width: 50vw }
  }

  .preview-drawer {
    animation: 0.3s slide-in;
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    padding: 20px;
    background-color: white;
    height: 100%;
    width:  50vw;
    max-width:  500px;
    border-left: 1px solid whitesmoke;
    box-shadow: 1px 1px 20px gray;
    overflow-y: scroll;
  }

  .preview-drawer .name {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .preview-drawer .song-sheet {
    font-style: italic;
    white-space: pre;
  }

  .preview-drawer .song-sheet .highlight {
    background-color: yellow;
  }

  .preview-drawer .close-button
  {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
}
