<%= stylesheet_link_tag 'header_manifest' %>
<div class="container-fluid">
  <div class="row">
    <!-- Second navbar for categories -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">GraceTunes</a>
        </div>
        <ul class="nav navbar-nav navbar-right ">
          <li><%= link_to "Upload Song", new_song_path, method: :get %></li>
          <li class="search-page"><%= link_to "Search", songs_path, method: :get %></li>
        </ul>
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
  </div>
</div><!-- /.container-fluid -->
